body {
  background-color: #8b8a8a; /* Changed from #ffffff (white) to light grey */
  font-size: 22px;
  font-family: "Helvetica Neue", Helvetica;
  font-weight: bold;
  color:#2d5862;
}

#body {
  margin: 0 auto;
  position: relative;
}

.corner-image {
    position: absolute;
    top: 50px;
    right: 10px;
    left: auto;
    width: 170px;
    height: auto;
    border-radius: 10px;
    z-index: 1000;
    display: block;
}

#header {
  font-size: 40px;
  font-weight: bolder;
  font-style: italic;
  text-decoration: underline;
  top: 20px;
  text-align: center;
  background: linear-gradient(to right, #2d5862, #63c8ce);
  color: rgb(0, 0, 0);
  padding: 20px;
  border-radius: 20px;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}

.node {
  cursor: pointer;
}

.node circle {
  cursor: pointer;
  fill: #5a7793;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node text {
  font-size: 14px;
  font-weight: 900;
  fill: #000000;
  font-family: Arial Black, Arial, sans-serif !important;
}

path.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1px;
}

#page-footer {
    margin-top: 80px;             /* space above footer */
    padding: 20px;
    background: #2a2a2a;          /* footer background */
    color: white;                 /* footer text */
    border-top: 3px solid #50c0c0; /* optional top border */
    text-align: center;
}

h3 {
    text-decoration: underline;
    margin-bottom: auto;
    position: relative;
}

.h3-ombre {
    background: linear-gradient(to right, #2d5862, #63c8ce);
    color: rgb(1, 1, 1);
    padding: 6px 12px;
    border-radius: 6px;
    display: inline-block; /* keeps it neatly wrapped around text */
}

#searchInput {
  position: fixed;
  left: 20px;
  top: 120px;
  width: 220px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #00c6ff;
  background: #0d1b3d;
  color: #b3f4ff;
}







